In [41]:
import pandas

In [99]:
# path where the CSV is stored
dataset = pandas.read_csv("2019/df_2019.csv", sep=",", encoding="ISO-8859-1")

In [100]:
# Display the first five rows of the DataFrame to inspect the data structure and content
dataset.head()

,Data,latitude,longitude,"PRECIPITACAO TOTAL, HORARIO (mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",RADIACAO GLOBAL (KJ/m2),"TEMPERATURA DO AR - BULBO SECO, HORARIA (0C)","UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, RAJADA MAXIMA (m/s)"
0,2019-01-01,"-15,789343","-47,925756",1.4,888.02,1192.79,20.52,82.21,3.72
1,2019-01-02,"-15,789343","-47,925756",0.0,888.80,2300.98,22.72,71.04,4.84
2,2019-01-03,"-15,789343","-47,925756",0.0,887.62,2053.05,24.34,56.21,4.86
3,2019-01-04,"-15,789343","-47,925756",0.0,887.54,1704.60,23.42,61.38,4.27
4,2019-01-05,"-15,789343","-47,925756",1.0,887.96,886.91,20.87,77.25,3.70

In [101]:
# Display a summary of the DataFrame, including the number of entries, column names, non-null counts, data types, and memory usage
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9380 entries, 0 to 9379
Data columns (total 9 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   Data                                                   9380 non-null   object
 1   latitude                                               9380 non-null   object
 2   longitude                                              9380 non-null   object
 3   PRECIPITACAO TOTAL, HORARIO (mm)                       9380 non-null   float64
 4   PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)  9380 non-null   float64
 5   RADIACAO GLOBAL (KJ/m2)                                9312 non-null   float64
 6   TEMPERATURA DO AR - BULBO SECO, HORARIA (0C)           9380 non-null   float64
 7   UMIDADE RELATIVA DO AR, HORARIA (%)                    9256 non-null   float64
 8   VENTO, RAJADA MAXIMA (m/s)                             8980 non-null   float64
dtypes: float64(6), object(3)
memory usage: 659.7+ KB

In [108]:
# Sum the number of missing values (NaN) in each column of the DataFrame
dataset.isna().sum() # na == null

Data                                                       0
latitude                                                   0
longitude                                                  0
PRECIPITACAO TOTAL, HORARIO (mm)                           0
PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)      0
RADIACAO GLOBAL (KJ/m2)                                    0
TEMPERATURA DO AR - BULBO SECO, HORARIA (0C)               0
UMIDADE RELATIVA DO AR, HORARIA (%)                        0
VENTO, RAJADA MAXIMA (m/s)                               400
dtype: int64

In [74]:
# Calculate the median of the 'PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)' column, round it to two decimal places, and store it in pressao_input_value
pressao_input_value = round(dataset['PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)'].median(), 2)
print(f"Mediana : {pressao_input_value}")

Mediana : 1005.26

In [75]:
# Fill missing values (NaN) in the 'PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)' column with the previously calculated median value
dataset['PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)'] = dataset['PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)'].fillna(pressao_input_value)

In [103]:
# Calculate the median of the 'RADIACAO GLOBAL (KJ/m2)' column, round it to two decimal places, and store it in radiacao_input_value
radiacao_input_value = round(dataset['RADIACAO GLOBAL (KJ/m2)'].median(), 2)
print(f"Mediana : {radiacao_input_value}")

Mediana : 1286.22

In [104]:
# Fill missing values (NaN) in the 'RADIACAO GLOBAL (KJ/m2)' column with the previously calculated median value
dataset['RADIACAO GLOBAL (KJ/m2)'] = dataset['RADIACAO GLOBAL (KJ/m2)'].fillna(radiacao_input_value)

In [64]:
# Calculate the median of the 'TEMPERATURA DO AR - BULBO SECO, HORARIA (0C)' column, round it to two decimal places, and store it in temperatura_input_value
temperatura_input_value = round(dataset['TEMPERATURA DO AR - BULBO SECO, HORARIA (0C)'].median(), 2)
print(f"Mediana : {temperatura_input_value}")

Mediana : 25.58

In [65]:
# Fill missing values (NaN) in the 'TEMPERATURA DO AR - BULBO SECO, HORARIA (0C)' column with the previously calculated median value
dataset['TEMPERATURA DO AR - BULBO SECO, HORARIA (0C)'] = dataset['TEMPERATURA DO AR - BULBO SECO, HORARIA (0C)'].fillna(temperatura_input_value)

In [106]:
# Calculate the median of the 'UMIDADE RELATIVA DO AR, HORARIA (%)' column, round it to two decimal places, and store it in umidade_input_value
umidade_input_value = round(dataset['UMIDADE RELATIVA DO AR, HORARIA (%)'].median(), 2)
print(f"Mediana : {umidade_input_value}")

Mediana : 75.04

In [107]:
# Fill missing values (NaN) in the 'UMIDADE RELATIVA DO AR, HORARIA (%)' column with the previously calculated median value
dataset['UMIDADE RELATIVA DO AR, HORARIA (%)'] = dataset['UMIDADE RELATIVA DO AR, HORARIA (%)'].fillna(umidade_input_value)

In [109]:
# Calculate the median of the 'VENTO, RAJADA MAXIMA (m/s)' column, round it to two decimal places, and store it in vento_input_value
vento_input_value = round(dataset['VENTO, RAJADA MAXIMA (m/s)'].median(), 2)
print(f"Mediana : {vento_input_value}")

Mediana : 4.81

In [110]:
# Fill missing values (NaN) in the 'VENTO, RAJADA MAXIMA (m/s)' column with the previously calculated median value
dataset['VENTO, RAJADA MAXIMA (m/s)'] = dataset['VENTO, RAJADA MAXIMA (m/s)'].fillna(vento_input_value)

In [111]:
# Save the changes made to the csv file
dataset.to_csv("2019/df_2019.csv", sep=",", encoding="ISO-8859-1", index=False)